{%- liquid
  assign pagination = pagination
  assign class = class | default: 'my-8 lg:mt-14' | prepend: 'flex items-center justify-center'
  assign part_active_class = part_active_class | prepend: "border  border-l-0 flex flex-col justify-center items-center flex-wrap w-[42px] h-[42px] relative text-base text-grey-700  text-white bg-primary font-bold border-y-primary tracking-xsSpacing"
  assign part_class = part_class | prepend: ' border border-input  border-l-0 flex flex-col justify-center items-center flex-wrap w-[42px] h-[42px] text-base text-grey-700 tracking-xsSpacing '
  assign class_pagination_next = class_pagination_next | default: ' w-4 h-4 text-grey-900'
  assign class_pagination_previous = class_pagination_previous | default: ' w-4 h-4 text-grey-900 rotate-180'
-%}
{%- if pagination.pages > 1 -%}
  <nav class="{{ class }}" role="navigation">
    {%- if pagination.previous -%}
      <a href="{{ pagination.previous.url }}" class="w-[42px] h-[42px] border border-input text-grey-900 flex flex-col justify-center items-center rounded-l-sm">
        {%- render 'icon' with 'icon-chevron-forward-outline', class: class_pagination_previous -%}
      </a>
    {%- else -%}
      <a href="{{ pagination.previous.url }}" class="w-[42px] h-[42px] border border-input text-grey-900 flex flex-col justify-center items-center rounded-l-sm disabled pointer-events-none">
        {%- render 'icon' with 'icon-chevron-forward-outline', class: class_pagination_previous -%}
      </a>
    {%- endif -%}

    {%- for part in pagination.parts -%}
      {%- if part.is_link -%}
        <a href="{{ part.url }}" class="{{ part_class }}">{{ part.title }}</a>
      {%- elsif part.is_link == false and part.title == '&hellip;' -%}
        <span class="{{ part_class }}">{{ part.title }}</span>
      {%- else -%}
        <span class="{{ part_active_class }}">{{ part.title }}</span>
      {%- endif -%}
    {%- endfor -%}

    {%- if pagination.next -%}
      <a href="{{ pagination.next.url }}" class="w-[42px] h-[42px] border border-input border-l-0 text-grey-900 flex flex-col justify-center items-center rounded-r-sm">
        {%- render 'icon' with 'icon-chevron-forward-outline', class: class_pagination_next -%}
      </a>
    {%- else -%}
      <a href="{{ pagination.next.url }}" class="w-[42px] h-[42px] border border-input border-l-0 text-grey-900 flex flex-col justify-center items-center rounded-r-sm disabled pointer-events-none">
        {%- render 'icon' with 'icon-chevron-forward-outline', class: class_pagination_next -%}
      </a>
    {%- endif -%}
  </nav>
{%- endif -%}
