{%- style -%}
  .faq-wrapper input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .faq-wrapper label {
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: 5px;
    line-height: normal;
    cursor: pointer;
    border-top: 1px solid #ececec;
    color: #000000;
  }

  .accordion__title span,
  .faq-content p {
    margin-left: 32px;
  }

  .faq-wrapper label::before {
    position: absolute;
    content: "+";
    color: #F6AE2D;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    transition: all 0.5s;
    padding: 0 5px;
  }

  .faq-wrapper input:checked~label::before {
    content: "-";
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s;
  }

  .faq-wrapper input:checked~.faq-content {
    max-height: none;
  }
{%- endstyle -%}

<div class="faqs page-width page-width--narrow section-{{ section.id }}-padding">
  {% for block in section.blocks %}
    <div class="faq-element">
      <faq-tab class="faq-wrapper">
        <input
          id="faq-title-{{ forloop.index }}"
          type="checkbox"
          name="tabs">
        <label for="faq-title-{{ forloop.index }}" class="h4 accordion__title">
          <span>{{ block.settings.question }}</span>
        </label>
        <div class="faq-content">
          <p>{{ block.settings.answer }}</p>
        </div>
      </faq-tab>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "t:sections.faqs.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.faqs.blocks.faq-qa.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "question",
            "label": "t:sections.faqs.blocks.faq-qa.settings.question.label"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "t:sections.faqs.blocks.faq-qa.settings.answer.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.faqs.presets.name",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}