{%- style -%}
  .faq-wrapper input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .faq-wrapper label {
    position: relative;
    display: block;
    padding: 20px;
    margin-bottom: 5px;
    line-height: normal;
    cursor: pointer;
    border-top: 1px solid #ececec;
    color: #000000;
  }

  .accordion__title span,
  .faq-content p {
    margin-left: 32px;
  }

  .faq-wrapper label::before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    background-image: url("data:image/svg+xml, %3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L7 7.5L13 1.5' stroke='%230039A6' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.2s;
    padding: 0 5px;
    width: 16px;
    height: 16px;
  }

  .faq-wrapper input:checked~label::before {
    transform: rotate(180deg);
    top: 40%;
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s;
  }

  .faq-wrapper input:checked~.faq-content {
    max-height: none;
  }
{%- endstyle -%}

<div class="faqs page-width page-width--narrow section-{{ section.id }}-padding">
  {% for block in section.blocks %}
    <div class="faq-element">
      <faq-tab class="faq-wrapper">
        <input
          id="faq-title-{{ forloop.index }}"
          type="checkbox"
          name="tabs">
        <label for="faq-title-{{ forloop.index }}" class="h3 accordion__title">
          <span>{{ block.settings.question }}</span>
        </label>
        <div class="faq-content">
          <p>{{ block.settings.answer }}</p>
        </div>
      </faq-tab>
    </div>
  {% endfor %}
  <div class="banner__buttons" {{ block.shopify_attributes }}>
    <a href="{{ section.settings.button_link }}" class="button button--primary">
      {{- section.settings.button_label | escape -}}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.faqs.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.faqs.settings.button_label.label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.faqs.settings.button_link.label"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.faqs.blocks.faq-qa.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "question",
            "label": "t:sections.faqs.blocks.faq-qa.settings.question.label"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "t:sections.faqs.blocks.faq-qa.settings.answer.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.faqs.presets.name",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}