{{ 'faqs.css' | asset_url | stylesheet_tag }}

<div class="faqs page-width page-width--narrow section-{{ section.id }}-padding">
  {% for block in section.blocks %}
    <div class="faq-element">
      <faq-tab class="faq-wrapper">
        <input
          id="faq-title-{{ forloop.index }}"
          type="checkbox"
          name="tabs">
        <label for="faq-title-{{ forloop.index }}" class="h3 accordion__title">
          <span>{{ block.settings.question }}</span>
        </label>
        <div class="faq-content">
          <p>{{ block.settings.answer }}</p>
        </div>
      </faq-tab>
    </div>
  {% endfor %}
  <div class="banner__buttons" {{ block.shopify_attributes }}>
    <a href="{{ section.settings.button_link }}" class="button button--primary">
      {{- section.settings.button_label | escape | upcase -}}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.faqs.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.faqs.settings.button_label.label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.faqs.settings.button_link.label"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.faqs.blocks.faq-qa.name",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "question",
            "label": "t:sections.faqs.blocks.faq-qa.settings.question.label"
          }, {
            "type": "richtext",
            "id": "answer",
            "label": "t:sections.faqs.blocks.faq-qa.settings.answer.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.faqs.presets.name",
        "blocks": [
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}